NAME: MOHAMAD MIRZA AIMAN BIN ZULKIPLE
STUDENT ID: 52224121157

QUESTION 1: import pandas module, then read imdb.xlsx file into a Dataframe.

In [1]:
import pandas as pd
xls = pd.ExcelFile("imdb.xlsx")
df  = xls.parse("imdb")
print(type(df))

<class 'pandas.core.frame.DataFrame'>

QUESTION 2: Find out how many total records are available in the Dataframe. Then, Display 10 rows from top and 10 rows from bottom.

In [86]:
# This command is to find total records that available in the Dataframe.

import pandas as pd

total_records = len(df)
print ("Total records available in Dataframe: ", total_records)

Total records available in Dataframe:  178

In [87]:
#The command to display 10 rows from top

df.head(10)

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration
0,The Shawshank RedemptionÊ,34,1,R,1994,9.3,28341469,142
1,The GodfatherÊ,33,1,R,1972,9.2,134821952,175
2,The Dark KnightÊ,16,1,PG-13,2008,9.0,533316061,152
3,The Godfather: Part IIÊ,33,1,R,1974,9.0,57300000,220
4,The Lord of the Rings: The Return of the KingÊ,83,1,PG-13,2003,8.9,377019252,192
5,Pulp FictionÊ,85,1,R,1994,8.9,107930000,178
6,"The Good, the Bad and the UglyÊ",98,2,Approved,1966,8.9,6100000,142
7,Schindler's ListÊ,103,1,R,1993,8.9,96067179,185
8,InceptionÊ,16,1,PG-13,2010,8.8,292568851,148
9,Fight ClubÊ,22,1,R,1999,8.8,37023395,151

In [88]:
#The command to display 10 rows from bottom

df.tail(10)

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration
168,Before SunsetÊ,88,1,R,2004,8.0,5792822,80
169,BoyhoodÊ,88,1,R,2014,8.0,25359200,165
170,Cinderella ManÊ,95,1,PG-13,2005,8.0,61644321,144
171,A Fistful of DollarsÊ,98,2,R,1964,8.0,3500000,99
172,HerÊ,99,1,R,2013,8.0,25556065,126
173,The Perks of Being a WallflowerÊ,101,1,PG-13,2012,8.0,17738570,102
174,BrazilÊ,106,8,R,1985,8.0,9929000,142
175,Big FishÊ,108,1,PG-13,2003,8.0,66257002,125
176,True RomanceÊ,112,1,R,1993,8.0,12281500,121
177,PersepolisÊ,114,7,PG-13,2007,8.0,4443403,89

QUESTION 3: Show whether there is any duplicated record. show which column does not have duplicated value.

In [2]:
#to show list of columns
df.columns

Index(['movie_title', 'director_id', 'country_id', 'content_rating',
       'title_year', 'imdb_score', 'gross', 'duration'],
      dtype='object')

In [90]:
# The command to check whether there is any duplicated record

df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
173    False
174    False
175    False
176    False
177    False
Length: 178, dtype: bool

In [3]:
# The command to show which columns that have no duplicated value
unique_counts = df.nunique()

columns_unduplicated_value = unique_counts[unique_counts == len(df)].index
print("Columns that have no duplicates: ", columns_unduplicated_value)

Columns that have no duplicates:  Index(['movie_title', 'gross'], dtype='object')

In [92]:
# The command to check whether there is any duplicated record in columns movie_title
# this show columns movie_title have no duplicate
df['movie_title'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
173    False
174    False
175    False
176    False
177    False
Name: movie_title, Length: 178, dtype: bool

In [4]:
df['movie_title'].duplicated().sum()

0

In [5]:
df[df['movie_title'].duplicated()].head()    # its shows that have no duplicated value in columns movie_title

Empty DataFrame
Columns: [movie_title, director_id, country_id, content_rating, title_year, imdb_score, gross, duration]
Index: []

In [95]:
# The command to check whether there is any duplicated record in columns gross
# this show columns gross have no duplicate

df['gross'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
173    False
174    False
175    False
176    False
177    False
Name: gross, Length: 178, dtype: bool

In [96]:
df['gross'].duplicated().sum()

0

In [97]:
df[df['gross'].duplicated()].head()    # its shows that have no duplicated value in columns gross

Empty DataFrame
Columns: [movie_title, director_id, country_id, content_rating, title_year, imdb_score, gross, duration]
Index: []

QUESTION 4: Select and display movies that are released from the year 2000 and have an IMDB score between 8.5 to 8.8.

In [98]:
df.columns

Index(['movie_title', 'director_id', 'country_id', 'content_rating',
       'title_year', 'imdb_score', 'gross', 'duration'],
      dtype='object')

In [99]:
df.head()

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration
0,The Shawshank RedemptionÊ,34,1,R,1994,9.3,28341469,142
1,The GodfatherÊ,33,1,R,1972,9.2,134821952,175
2,The Dark KnightÊ,16,1,PG-13,2008,9.0,533316061,152
3,The Godfather: Part IIÊ,33,1,R,1974,9.0,57300000,220
4,The Lord of the Rings: The Return of the KingÊ,83,1,PG-13,2003,8.9,377019252,192

In [6]:
import pandas as pd

selected_movies = df[(df['title_year'] == 2000) & (df['imdb_score'] >= 8.5) & (df['imdb_score'] <= 8.8)]
(selected_movies)

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration
29,MementoÊ,16,1,R,2000,8.5,25530884,113
39,GladiatorÊ,90,1,R,2000,8.5,187670866,171